/*
Logo

UCSF Dental Center logo.

Markup: logo.html.twig

Styleguide sod-ui.logo
*/

%logo {

  padding-left: 0 !important;
  padding-right: 0 !important;


  margin-top: 32px;

  h1 {
    margin-top: 0;
  }

  a {

    display: block;

    span {
      @extend .sr-only;
    }
  }

  svg {
    width: 242px;
    height: 66px;
  }
}

#logo {
  @extend %logo;
}
