<?xml version="1.0" encoding="UTF-8"?>
<svg width="220px" height="57px" viewBox="0 0 220 57" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46.1 (44463) - http://www.bohemiancoding.com/sketch -->
    <title>kalamuna-logo-horizontal</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <polygon id="path-1" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-3" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-5" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-7" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-9" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-11" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-13" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-15" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-17" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-19" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-21" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-23" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-25" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-27" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-29" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-31" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-33" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-35" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-37" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-39" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-41" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-43" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-45" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-47" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-49" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-51" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-53" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-55" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-57" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-59" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-61" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-63" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
        <polygon id="path-65" points="0.101430843 14.421717 24.6193641 0.276661367 49.1722734 14.421717 49.1722734 42.7461049 24.6193641 56.9250874 0.101430843 42.7461049"></polygon>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="kalamuna-logo-horizontal">
            <g id="Group">
                <g id="Clipped">
                    <mask id="mask-2" fill="white">
                        <use xlink:href="#path-1"></use>
                    </mask>
                    <g id="SVGID_1_"></g>
                    <polygon id="Shape" fill="#6B4FA0" fill-rule="nonzero" mask="url(#mask-2)" points="49.1365978 14.3863911 39.2873132 8.67828299 39.2873132 20.2186645 49.1715739 26.5273132"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-4" fill="white">
                        <use xlink:href="#path-3"></use>
                    </mask>
                    <g id="SVGID_3_"></g>
                    <polygon id="Shape" fill="#68328B" fill-rule="nonzero" mask="url(#mask-4)" points="49.1715739 33.6837838 49.1715739 25.6322734 38.3125278 19.3711924 38.3125278 25.3433704"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-6" fill="white">
                        <use xlink:href="#path-5"></use>
                    </mask>
                    <g id="SVGID_5_"></g>
                    <polygon id="Shape" fill="#E8903F" fill-rule="nonzero" mask="url(#mask-6)" points="24.6186645 45.4658506 14.3489666 50.985787 24.6186645 56.9604134 34.2577424 51.4068998"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-8" fill="white">
                        <use xlink:href="#path-7"></use>
                    </mask>
                    <g id="SVGID_7_"></g>
                    <polygon id="Shape" fill="#D65197" fill-rule="nonzero" mask="url(#mask-8)" points="39.0127504 36.7686804 39.4964706 48.4045469 49.1715739 42.8157075 49.1715739 31.5694754"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-10" fill="white">
                        <use xlink:href="#path-9"></use>
                    </mask>
                    <g id="SVGID_9_"></g>
                    <polygon id="Shape" fill="#CB352D" fill-rule="nonzero" mask="url(#mask-10)" points="33.250779 39.539841 34.2577424 51.4068998 39.4964706 48.4045469 39.5321463 37.1583148"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-12" fill="white">
                        <use xlink:href="#path-11"></use>
                    </mask>
                    <g id="SVGID_11_"></g>
                    <polygon id="Shape" fill="#D03D29" fill-rule="nonzero" mask="url(#mask-12)" points="34.2934181 40.161717 29.5604452 37.2447059 29.7874404 42.8506836 22.5564706 44.7841653 34.2577424 51.4068998"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-14" fill="white">
                        <use xlink:href="#path-13"></use>
                    </mask>
                    <g id="SVGID_13_"></g>
                    <polygon id="Shape" fill="#90C64D" fill-rule="nonzero" mask="url(#mask-14)" points="9.74050874 8.83322734 0.10073132 14.3863911 0.10073132 25.6322734 0.10073132 25.6322734 0.10073132 25.6322734 10.194849 20.2714785"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-16" fill="white">
                        <use xlink:href="#path-15"></use>
                    </mask>
                    <g id="SVGID_15_"></g>
                    <polygon id="Shape" fill="#3C9DD7" fill-rule="nonzero" mask="url(#mask-16)" points="24.6186645 11.9667409 34.2577424 5.79414944 24.6186645 0.2063593 14.9792369 5.79414944"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-18" fill="white">
                        <use xlink:href="#path-17"></use>
                    </mask>
                    <g id="SVGID_17_"></g>
                    <polygon id="Shape" fill="#2A4796" fill-rule="nonzero" mask="url(#mask-18)" points="39.4964706 8.79825119 34.2577424 5.79414944 24.2255326 11.6239746 29.4642607 14.6280763"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-20" fill="white">
                        <use xlink:href="#path-19"></use>
                    </mask>
                    <g id="SVGID_19_"></g>
                    <polygon id="Shape" fill="#097E4D" fill-rule="nonzero" mask="url(#mask-20)" points="24.6186645 11.3829889 14.9792369 5.79414944 9.74050874 8.83322734 9.74050874 20.0444833 9.77513514 20.0444833 14.9792369 17.7224165 19.4145628 19.5904928 19.8339269 14.8760572"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-22" fill="white">
                        <use xlink:href="#path-21"></use>
                    </mask>
                    <g id="SVGID_21_"></g>
                    <polygon id="Shape" fill="#324999" fill-rule="nonzero" mask="url(#mask-22)" points="39.5492846 8.79825119 29.0886169 13.9848649 28.9273768 20.1238792 34.2934181 17.2680763 39.5492846 20.7062321"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-24" fill="white">
                        <use xlink:href="#path-23"></use>
                    </mask>
                    <g id="SVGID_23_"></g>
                    <g id="Group" mask="url(#mask-24)" fill-rule="nonzero">
                        <g transform="translate(19.236884, 11.192369)" id="Shape">
                            <polygon fill="#34433E" points="4.98864865 6.19812401 5.41675676 12.0828617 10.6208585 8.39812401 10.6208585 3.19402226"></polygon>
                            <polygon fill="#34403D" points="5.3817806 0.190620032 0.142352941 3.22934817 0.142352941 4.48779014 0.142352941 8.39812401 5.37688394 12.4214308 5.3817806 6.4072814 10.6208585 3.19402226"></polygon>
                        </g>
                    </g>
                </g>
                <g id="Clipped">
                    <mask id="mask-26" fill="white">
                        <use xlink:href="#path-25"></use>
                    </mask>
                    <g id="SVGID_25_"></g>
                    <polygon id="Shape" fill="#7C2E88" fill-rule="nonzero" mask="url(#mask-26)" points="37.3496343 24.7669634 34.2577424 28.1288712 38.658442 31.9538633 39.5321463 37.1583148 49.1715739 31.5694754 49.1715739 31.5694754"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-28" fill="white">
                        <use xlink:href="#path-27"></use>
                    </mask>
                    <g id="SVGID_27_"></g>
                    <polygon id="Shape" fill="#ECCF37" fill-rule="nonzero" mask="url(#mask-28)" points="9.74050874 48.369221 10.551256 36.5738633 0.10073132 31.4404134 0.10073132 42.8157075 0.10073132 42.8157075 0.10073132 42.8157075"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-30" fill="white">
                        <use xlink:href="#path-29"></use>
                    </mask>
                    <g id="SVGID_29_"></g>
                    <polygon id="Shape" fill="#44A147" fill-rule="nonzero" mask="url(#mask-30)" points="10.4218442 30.7660731 0.10073132 25.6322734 0.10073132 31.5694754 9.74050874 37.1583148"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-32" fill="white">
                        <use xlink:href="#path-31"></use>
                    </mask>
                    <g id="SVGID_31_"></g>
                    <polygon id="Shape" fill="#4AA847" fill-rule="nonzero" mask="url(#mask-32)" points="9.74050874 26.0170111 9.74050874 20.0444833 0.10073132 25.6322734 9.74050874 31.2204134 9.74050874 31.2204134 17.4153259 28.6797456"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-34" fill="white">
                        <use xlink:href="#path-33"></use>
                    </mask>
                    <g id="SVGID_33_"></g>
                    <polygon id="Shape" fill="#5E7E42" fill-rule="nonzero" mask="url(#mask-34)" points="20.3683625 31.150461 14.245787 28.6010493 9.74050874 31.2204134 14.594849 36.2846105"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-36" fill="white">
                        <use xlink:href="#path-35"></use>
                    </mask>
                    <g id="SVGID_35_"></g>
                    <polygon id="Shape" fill="#38383A" fill-rule="nonzero" mask="url(#mask-36)" points="24.9677266 22.8208903 19.3792369 19.5904928 19.3792369 25.9816852"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-38" fill="white">
                        <use xlink:href="#path-37"></use>
                    </mask>
                    <g id="SVGID_37_"></g>
                    <polygon id="Shape" fill="#BB3E2D" fill-rule="nonzero" mask="url(#mask-38)" points="18.89062 37.4027981 18.89062 43.5841335 18.9255962 43.6191097 25.247186 40.0564388 25.2122099 33.8758029 25.1072814 33.805151"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-40" fill="white">
                        <use xlink:href="#path-39"></use>
                    </mask>
                    <g id="SVGID_39_"></g>
                    <polygon id="Shape" fill="#DD9227" fill-rule="nonzero" mask="url(#mask-40)" points="19.4152623 37.6123052 14.9792369 35.617965 9.74050874 37.1583148 9.74050874 48.369221 19.4152623 46.914213"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-42" fill="white">
                        <use xlink:href="#path-41"></use>
                    </mask>
                    <g id="SVGID_41_"></g>
                    <polygon id="Shape" fill="#1C5F43" fill-rule="nonzero" mask="url(#mask-42)" points="19.4145628 19.5904928 14.9792369 17.0410811 14.9792369 17.0410811 14.9792369 17.0410811 9.77513514 20.0444833 9.74050874 20.0444833 9.74050874 20.0444833 9.74050874 26.0170111 16.9875676 30.1861685 19.4145628 28.4261685"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-44" fill="white">
                        <use xlink:href="#path-43"></use>
                    </mask>
                    <g id="SVGID_43_"></g>
                    <polygon id="Shape" fill="#5B7B42" fill-rule="nonzero" mask="url(#mask-44)" points="20.1130366 31.150461 14.9792369 34.1195866 9.74050874 31.2204134 9.74050874 37.1583148 14.9792369 40.161717 19.4152623 37.6123052"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-46" fill="white">
                        <use xlink:href="#path-45"></use>
                    </mask>
                    <g id="SVGID_45_"></g>
                    <polygon id="Shape" fill="#2D503F" fill-rule="nonzero" mask="url(#mask-46)" points="19.4145628 25.6322734 14.245787 28.6010493 19.7286486 31.726868"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-48" fill="white">
                        <use xlink:href="#path-47"></use>
                    </mask>
                    <g id="SVGID_47_"></g>
                    <polygon id="Shape" fill="#2F3689" fill-rule="nonzero" mask="url(#mask-48)" points="39.5492846 20.0840064 34.2577424 17.0061049 28.9840382 20.0903021 28.0414308 24.829221 35.026868 28.6363752 39.5492846 26.0170111"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-50" fill="white">
                        <use xlink:href="#path-49"></use>
                    </mask>
                    <g id="SVGID_49_"></g>
                    <polygon id="Shape" fill="#763439" fill-rule="nonzero" mask="url(#mask-50)" points="29.6132591 31.3949444 29.7874404 37.4724006 34.2934181 40.161717 35.0964706 33.5260413"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-52" fill="white">
                        <use xlink:href="#path-51"></use>
                    </mask>
                    <g id="SVGID_51_"></g>
                    <polygon id="Shape" fill="#633539" fill-rule="nonzero" mask="url(#mask-52)" points="29.8577424 29.50938 23.2916693 33.805151 29.8577424 37.6119555 29.8577424 37.6119555"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-54" fill="white">
                        <use xlink:href="#path-53"></use>
                    </mask>
                    <g id="SVGID_53_"></g>
                    <polygon id="Shape" fill="#B73731" fill-rule="nonzero" mask="url(#mask-54)" points="24.6536407 34.6078537 24.6536407 39.8472814 19.4152623 42.9216852 24.5049921 45.9163434 29.9619714 42.8856598 29.9619714 37.5420032"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-56" fill="white">
                        <use xlink:href="#path-55"></use>
                    </mask>
                    <g id="SVGID_55_"></g>
                    <polygon id="Shape" fill="#6F353A" fill-rule="nonzero" mask="url(#mask-56)" points="35.026868 28.6010493 29.3331002 31.3249921 34.2934181 34.1195866 34.2934181 40.161717 34.2934181 40.161717 39.5321463 37.1583148 39.5321463 31.185787"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-58" fill="white">
                        <use xlink:href="#path-57"></use>
                    </mask>
                    <g id="SVGID_57_"></g>
                    <polygon id="Shape" fill="#43433D" fill-rule="nonzero" mask="url(#mask-58)" points="19.4156121 31.0325914 19.4152623 37.6119555 25.0027027 34.3990461"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-60" fill="white">
                        <use xlink:href="#path-59"></use>
                    </mask>
                    <g id="SVGID_59_"></g>
                    <polygon id="Shape" fill="#3A383A" fill-rule="nonzero" mask="url(#mask-60)" points="28.7748808 25.0387281 28.6353259 32.2682989 35.0964706 28.6010493"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-62" fill="white">
                        <use xlink:href="#path-61"></use>
                    </mask>
                    <g id="SVGID_61_"></g>
                    <polygon id="Shape" fill="#D7812B" fill-rule="nonzero" mask="url(#mask-62)" points="19.4152623 42.9132909 9.74050874 48.369221 14.5630207 51.4723052 24.5049921 45.9163434"></polygon>
                </g>
                <g id="Clipped">
                    <mask id="mask-64" fill="white">
                        <use xlink:href="#path-63"></use>
                    </mask>
                    <g id="SVGID_63_"></g>
                </g>
                <g id="Clipped">
                    <mask id="mask-66" fill="white">
                        <use xlink:href="#path-65"></use>
                    </mask>
                    <g id="SVGID_65_"></g>
                    <polygon id="Shape" fill="#383739" fill-rule="nonzero" mask="url(#mask-66)" points="24.6361526 22.6040382 24.6183148 22.5938951 19.4145628 25.6322734 19.4156121 31.5565342 24.6536407 34.6078537 29.8577424 31.5694754 29.8577424 25.9816852 29.8577424 25.6322734 29.8577424 19.5904928"></polygon>
                </g>
            </g>
            <path d="M157.104134,19.4463911 L157.104134,38.4954531 C157.104134,39.5192051 156.274499,40.3488394 155.251097,40.3488394 C154.227695,40.3488394 153.39806,39.5192051 153.39806,38.4954531 L153.39806,25.3898887 L148.657742,32.2532591 C148.633609,32.2885851 148.60318,32.3158665 148.577297,32.3480445 C148.533577,32.4033068 148.490906,32.4585692 148.440191,32.5092846 C148.392273,32.5568521 148.340159,32.596725 148.288045,32.6383466 C148.252719,32.6663275 148.223339,32.6992051 148.185914,32.7250874 C148.17717,32.7317329 148.166328,32.7348808 148.156884,32.7408267 C148.097774,32.7803498 148.034817,32.8111288 147.97256,32.8433068 C147.924992,32.8670906 147.879173,32.8947218 147.831256,32.9150079 C147.775294,32.9373927 147.717234,32.9513831 147.659523,32.9681717 C147.601463,32.9860095 147.544102,33.0062957 147.484992,33.0181876 C147.431129,33.0283307 147.375866,33.0297297 147.321304,33.0356757 C147.257997,33.0423211 147.19539,33.0517647 147.132083,33.0517647 C147.074722,33.0517647 147.017711,33.0423211 146.96035,33.0370747 C146.899841,33.0311288 146.838983,33.02938 146.779173,33.0174881 C146.72496,33.0069952 146.671797,32.9874086 146.618633,32.9716693 C146.555676,32.9534817 146.493418,32.9380922 146.432909,32.9136089 C146.38849,32.8954213 146.346518,32.8698887 146.302798,32.8478537 C146.236343,32.8139269 146.169539,32.7820986 146.106582,32.7394277 C146.098188,32.7338315 146.088045,32.7310334 146.08,32.7250874 C146.044324,32.7009539 146.017393,32.6701749 145.984865,32.6442925 C145.930302,32.6005723 145.875739,32.558601 145.825024,32.5078855 C145.776057,32.4592687 145.735135,32.4061049 145.692814,32.3529412 C145.665533,32.3186645 145.633704,32.2899841 145.608521,32.2539587 L140.866455,25.3891892 L140.866455,38.4958029 C140.866455,39.5192051 140.03682,40.3491892 139.013418,40.3491892 C137.990016,40.3491892 137.160382,39.5195548 137.160382,38.4958029 L137.160382,19.4467409 C137.160382,18.6359936 137.687472,17.9189825 138.461844,17.6776471 C139.236216,17.4359618 140.077393,17.7266137 140.538728,18.3936089 L147.133132,27.9403498 L153.726486,18.3936089 C154.187122,17.7262639 155.028299,17.4363116 155.80337,17.6776471 C156.576693,17.918283 157.104134,18.6352941 157.104134,19.4463911 Z M174.839141,17.5930048 C173.815739,17.5930048 172.986105,18.4226391 172.986105,19.4460413 L172.986105,32.9751669 C172.986105,33.3759936 172.87628,36.8858506 169.075771,36.8858506 C167.304229,36.8858506 166.155262,36.2748172 165.461685,34.9628617 C164.876184,33.8555167 164.85275,32.6673768 164.852401,32.6673768 L164.852401,19.4463911 C164.852401,18.4229889 164.022766,17.5933545 162.999364,17.5933545 C161.975962,17.5933545 161.146328,18.4229889 161.146328,19.4463911 L161.146328,32.6673768 C161.146328,32.8674404 161.17256,34.6771065 162.101176,36.5329412 C163.411033,39.1509062 165.887695,40.5922734 169.075072,40.5922734 C174.663211,40.5922734 176.690779,36.0376789 176.690779,32.9762162 L176.690779,19.4467409 C176.692178,18.4226391 175.862544,17.5930048 174.839141,17.5930048 Z M72.4541494,27.3611447 L75.8510334,20.4320191 C76.3015262,19.5131955 75.9216852,18.4027027 75.0028617,17.9525596 C74.0843879,17.5020668 72.9738951,17.8812083 72.5230525,18.8007313 L66.7901113,30.4950079 L66.7901113,19.6163752 C66.7901113,18.5933227 65.9604769,17.7636884 64.9370747,17.7636884 C63.9133227,17.7636884 63.0836884,18.5933227 63.0836884,19.6163752 L63.0836884,38.4846105 C63.0836884,39.3467727 63.678283,40.0949126 64.5184102,40.28938 C64.657965,40.3222576 64.7989189,40.3379968 64.9374245,40.3379968 C65.6320509,40.3379968 66.2847059,39.9455644 66.6008903,39.3006041 L70.4055962,31.5397456 L74.3288712,39.3495707 C74.6544992,39.9973291 75.3078537,40.3712242 75.9860413,40.3712242 C76.2658506,40.3712242 76.5495072,40.3072178 76.816725,40.1736089 C77.7310016,39.7147218 78.1,38.6003816 77.6404134,37.6861049 L72.4541494,27.3611447 Z M111.881367,36.6312242 L105.137615,36.6312242 L105.137615,19.616725 C105.137615,18.5933227 104.307981,17.7636884 103.284579,17.7636884 C102.261176,17.7636884 101.431542,18.5933227 101.431542,19.616725 L101.431542,38.4849603 C101.431542,39.5083625 102.261176,40.3379968 103.284579,40.3379968 L111.881367,40.3379968 C112.904769,40.3379968 113.734404,39.5083625 113.734404,38.4849603 C113.734404,37.4612083 112.904769,36.6312242 111.881367,36.6312242 Z M98.9625755,37.8067727 C99.356407,38.7514785 98.9108108,39.8367886 97.9657552,40.2309698 C97.7324642,40.3282035 97.4911288,40.374372 97.2529412,40.374372 C96.5278855,40.374372 95.8388553,39.9455644 95.541558,39.2344992 L92.5948172,32.1735135 L86.392496,32.1735135 L83.7035294,39.1816852 C83.3369793,40.1368839 82.2663593,40.6143084 81.3094118,40.2481081 C80.354213,39.8812083 79.8764388,38.8098887 80.2429889,37.8543402 L87.5603498,18.7828935 C87.8317647,18.0756757 88.5064547,17.6048967 89.2640382,17.5937043 C90.0237202,17.5888076 90.7092528,18.0337043 91.0009539,18.7328776 L98.9625755,37.8067727 Z M91.0485215,28.4674404 L89.3637202,24.4304928 L87.8149762,28.4674404 L91.0485215,28.4674404 Z M134.391669,37.8071224 C134.785501,38.7514785 134.339205,39.8367886 133.394149,40.2309698 C133.160859,40.3282035 132.919523,40.374372 132.681685,40.374372 C131.95628,40.374372 131.26725,39.9455644 130.970652,39.2341494 L128.02461,32.1731638 L121.823688,32.1731638 L119.134722,39.1813355 C118.767822,40.1365342 117.696502,40.6139587 116.740604,40.2477583 C115.785056,39.8808585 115.307281,38.809539 115.673831,37.8539905 L122.991892,18.7825437 C123.262957,18.0753259 123.937297,17.6045469 124.694531,17.5933545 C125.436725,17.5909062 126.140445,18.0333545 126.432146,18.7328776 L134.391669,37.8071224 Z M126.479014,28.4674404 L124.794913,24.4311924 L123.246169,28.4674404 L126.479014,28.4674404 Z M195.97628,17.5930048 C194.952528,17.5930048 194.122893,18.4226391 194.122893,19.4460413 L194.122893,32.6873132 L183.954277,18.372973 C183.486995,17.7154213 182.647917,17.4352623 181.879841,17.6807949 C181.112114,17.9259777 180.589921,18.639841 180.589921,19.4460413 L180.589921,38.4954531 C180.589921,39.5188553 181.419555,40.3481399 182.442957,40.3481399 C183.466359,40.3481399 184.295994,39.5188553 184.295994,38.4954531 L184.295994,25.2541812 L194.46496,39.5685215 C194.819269,40.0676312 195.387281,40.3481399 195.97593,40.3481399 C196.163052,40.3481399 196.352973,40.3194595 196.538347,40.2606995 C197.306423,40.0155167 197.828267,39.3016534 197.828267,38.4954531 L197.828267,19.4460413 C197.829316,18.4226391 196.999682,17.5930048 195.97628,17.5930048 Z M218.528203,40.2169793 C218.295262,40.3145628 218.053227,40.3603816 217.81539,40.3603816 C217.090334,40.3603816 216.401304,39.9315739 216.104356,39.220159 L213.158315,32.1602226 L206.956693,32.1602226 L204.268776,39.1645469 C203.901526,40.1204452 202.828808,40.5971701 201.874308,40.2309698 C200.91911,39.8647695 200.441335,38.7927504 200.807886,37.8372019 L208.124897,18.7682035 C208.396312,18.0609857 209.070652,17.5898569 209.828235,17.5790143 C209.837329,17.5790143 209.846423,17.5790143 209.854817,17.5790143 C210.602258,17.5790143 211.276248,18.0274086 211.565501,18.7185374 L219.524324,37.7927822 C219.919205,38.7381876 219.472909,39.8227981 218.528203,40.2169793 Z M211.612369,28.454849 L209.928267,24.4179014 L208.379173,28.454849 L211.612369,28.454849 Z" id="Shape" fill="#333333" fill-rule="nonzero"></path>
        </g>
    </g>
</svg>