{% set layout_class = '4-8' %}
{% extends '@layouts/layout--wrapper/layout--wrapper.html.twig' %}
{% block layout_content %}
  <div class="aside">
    {{ subcomponents.0 }}
  </div>
  <div class="article">
    {{ subcomponents.1 }}
  </div>
{% endblock %}
