<section class="layout--4-8">
  <div class="wrapper">
    <article>
      {% block content %}
        {{ subcomponents.0 }}
      {% endblock %}
    </article>
    <aside>
      {% block aside %}
        {{ subcomponents.1 }}
      {% endblock %}
    </aside>
  </div>
</section>
