%button {
  display: inline-block;
  width: auto;
  min-width: 9.75rem;
  text-transform: uppercase;
  color: $brand-primary;
  text-align: center;
  border: 1px $brand-primary solid;
  border-radius: 0.1875em;
  background-color: transparent;
  font-size: 14px;
  padding: 0.25em 0.5em;
  margin-top: 1em;
  text-decoration: none;
  letter-spacing: 0.0875em;

  &:hover,
  &:focus,
  &:active {
    background-color: $brand-primary;
    border: 1px $brand-primary solid;
    color: $c__white;
    text-decoration: none;
  }
}

.button {
  @extend %button;
}

%button--alt {
  @extend %button;
  margin-top: 2em;
  color: $c__white;
  border-color: $c__white;

  &:hover,
  &:focus,
  &:active {
    background-color: $c__white;
    color: $c__teal;
    border-color: 1px $c__white solid;
  }
}

.button--alt {
  @extend %button--alt;
}
