
$c__navy: #050249;
$c__teal: #058488;
$c__green: #6ea400;
$c__blue: #007cbe;
$c__orange: #f26d04;
$c__purple: #716fb2;
$c__red: #eb093c;
$c__yellow: #ffdd00;
$c__black: #000;
$c__white: #fff;
$gray-light: #eee;
$gray-mid: #b3b9bf;
$gray-dark: #4d4d4d;

$brand-primary: $c__teal;
$brand-secondary: $c__navy;

$navbar-default-link-color: $c__navy;
