@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=a4c0ce51-0a48-498f-95fb-241b458b3ce4");

@font-face{
  font-family:"Granjon LT W01 Roman";
  src:url("/kalastatic/fonts/aaafa9cb-fbd8-4112-9799-6bd7e21ac9c7.eot?#iefix");
  src:url("/kalastatic/fonts/aaafa9cb-fbd8-4112-9799-6bd7e21ac9c7.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/5661f5e8-4294-4956-b6d5-acb6c42277a7.woff2") format("woff2"),
  url("/kalastatic/fonts/be1ab8f1-19f3-4e0b-9a7a-8153b07871e8.woff") format("woff"),
  url("/kalastatic/fonts/91e8f703-265a-4342-b688-bbe50adc8c44.ttf") format("truetype"),
  url("/kalastatic/fonts/0b216928-36c3-4232-aea9-2e2e0fc7b891.svg#0b216928-36c3-4232-aea9-2e2e0fc7b891") format("svg");
}

@font-face{
  font-family:"Granjon LT W01 Italic";
  src:url("/kalastatic/fonts/1312b0b1-7f4a-40de-9e7f-d75a956756a0.eot?#iefix");
  src:url("/kalastatic/fonts/1312b0b1-7f4a-40de-9e7f-d75a956756a0.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/1d0754b7-4d12-4d70-9799-7b646eb1ec39.woff2") format("woff2"),
  url("/kalastatic/fonts/2b90bc04-bfbd-42d5-abcd-bacd6045af17.woff") format("woff"),
  url("/kalastatic/fonts/59965288-a6fe-4533-92aa-c13a1992124d.ttf") format("truetype"),
  url("/kalastatic/fonts/0725cb79-e70c-41b1-8c04-64f388180179.svg#0725cb79-e70c-41b1-8c04-64f388180179") format("svg");
  font-style: italic;
}

@font-face{
  font-family:"Granjon LT W01 Bold";
  src:url("/kalastatic/fonts/8572d185-8204-4d97-8df1-dcaf685d5cb4.eot?#iefix");
  src:url("/kalastatic/fonts/8572d185-8204-4d97-8df1-dcaf685d5cb4.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/25967e22-f423-45bc-baa0-31292ce05f55.woff2") format("woff2"),
  url("/kalastatic/fonts/40110ed7-1f10-48e8-b48b-37868775c4a4.woff") format("woff"),
  url("/kalastatic/fonts/2b4038a4-8163-4c4f-866e-5add383e36f7.ttf") format("truetype"),
  url("/kalastatic/fonts/11142102-e4a1-473f-aa61-745444952a82.svg#11142102-e4a1-473f-aa61-745444952a82") format("svg");
  font-weight: 700;
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix");
  src:url("/kalastatic/fonts/1b950d2a-907a-4888-8056-0d44e8e86338.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/3a46542f-f429-4821-9a88-62e3be54a640.woff2") format("woff2"),
  url("/kalastatic/fonts/50ac1699-f3d2-47b6-878f-67a368a17c41.woff") format("woff"),
  url("/kalastatic/fonts/0be5590f-8353-4ef3-ada1-43ac380859f8.ttf") format("truetype"),
  url("/kalastatic/fonts/82a4e1c2-7ffd-4c58-86fa-4010a6723c8e.svg#82a4e1c2-7ffd-4c58-86fa-4010a6723c8e") format("svg");
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/e36efb7d-12e3-4773-a830-26e5652373ea.eot?#iefix");
  src:url("/kalastatic/fonts/e36efb7d-12e3-4773-a830-26e5652373ea.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/261b4efb-3d70-4965-977d-38af9422700d.woff2") format("woff2"),
  url("/kalastatic/fonts/2e00514e-1764-4250-a0c5-aca3e5a8d133.woff") format("woff"),
  url("/kalastatic/fonts/e2fe2e07-9419-400f-953d-dc23cfa647a2.ttf") format("truetype"),
  url("/kalastatic/fonts/000472ba-312c-41be-b038-043ad8254e91.svg#000472ba-312c-41be-b038-043ad8254e91") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix");
  src:url("/kalastatic/fonts/bf7ef4ce-de2a-4213-a9d7-826a3ee323cd.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/3dac71eb-afa7-4c80-97f0-599202772905.woff2") format("woff2"),
  url("/kalastatic/fonts/34e0e4c0-c294-49bb-9a8e-1b2cafd54e32.woff") format("woff"),
  url("/kalastatic/fonts/8a8bfee3-197c-4942-9b11-71508cc9f406.ttf") format("truetype"),
  url("/kalastatic/fonts/5101995a-e73b-4cf9-84e8-f99eb43277b1.svg#5101995a-e73b-4cf9-84e8-f99eb43277b1") format("svg");
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix");
  src:url("/kalastatic/fonts/5d0e5dca-869d-4e14-ac6b-45fbab3c4047.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/21c44514-f4d6-4cff-a5de-e4cac5e61aff.woff2") format("woff2"),
  url("/kalastatic/fonts/e7c4b231-76ad-47c7-a54b-5d84dcd78d0f.woff") format("woff"),
  url("/kalastatic/fonts/b6db417f-e795-426a-a2af-adc37a3419a6.ttf") format("truetype"),
  url("/kalastatic/fonts/0c6d116c-89d1-402b-b9f3-2d9890d7a4ee.svg#0c6d116c-89d1-402b-b9f3-2d9890d7a4ee") format("svg");
  font-style: italic;
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix");
  src:url("/kalastatic/fonts/8a6c3e5a-88a5-430c-91d8-7767ce971d12.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/531c5a28-5575-4f58-96d4-a80f7b702d7b.woff2") format("woff2"),
  url("/kalastatic/fonts/439c5962-f9fe-4eaf-a1f6-f41d42edba75.woff") format("woff"),
  url("/kalastatic/fonts/419a308d-b777-4f84-9235-2caf4a98ec23.ttf") format("truetype"),
  url("/kalastatic/fonts/e4d5b881-6835-45b7-8766-3e5b9e7cab8b.svg#e4d5b881-6835-45b7-8766-3e5b9e7cab8b") format("svg");
  font-weight: 700;
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/52b6ae3e-9443-4acc-9bf9-f5154eeab77c.eot?#iefix");
  src:url("/kalastatic/fonts/52b6ae3e-9443-4acc-9bf9-f5154eeab77c.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/ade4dbae-c607-4c84-a375-f0c4de0cc357.woff2") format("woff2"),
  url("/kalastatic/fonts/5b864741-6f14-4ed9-a297-27a4d73edf51.woff") format("woff"),
  url("/kalastatic/fonts/0cdccad5-a023-4a17-8ea9-01a0e6ad7ff4.ttf") format("truetype"),
  url("/kalastatic/fonts/d4b14776-395f-4a46-9862-3a0bb4e7a379.svg#d4b14776-395f-4a46-9862-3a0bb4e7a379") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family:"Helvetica Neue";
  src:url("/kalastatic/fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix");
  src:url("/kalastatic/fonts/6492b5a6-2267-40e3-8ede-fd8b730790b1.eot?#iefix") format("eot"),
  url("/kalastatic/fonts/bd8486cc-4614-412d-ba1d-15e1a7c9fada.woff2") format("woff2"),
  url("/kalastatic/fonts/a7bdf5a9-752e-4e69-b17c-b7e62575b07a.woff") format("woff"),
  url("/kalastatic/fonts/e1f8b69f-5d23-44bc-88bf-94778cc978a3.ttf") format("truetype"),
  url("/kalastatic/fonts/22a406f9-eeb2-41eb-ab5e-242ec26f3a88.svg#22a406f9-eeb2-41eb-ab5e-242ec26f3a88") format("svg");
  font-weight: 900;
}

$font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif ;
$font-family-serif: "Granjon LT W01 Roman";

html,
body {
  font-size: 16px;
  line-height: 1.4;
  color: $gray-darker;
}

body {
  font-family: $font-family-sans;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  font-family: $font-family-serif;
  line-height: 1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 20px;
  line-height: 1.1;
}
