<section class="layout--4-8">
  <div class="wrapper">
    <article class="article">
      {% block content %}
        {{ subcomponents.0 }}
      {% endblock %}
    </article>
    <aside class="aside">
      {% block aside %}
        {{ subcomponents.1 }}
      {% endblock %}
    </aside>
  </div>
</section>
