<section class="layout--{{ layout_class }}">
  <div>
    <div>
      {% block layout_content %}
        {% for subcomponent in subcomponents %}
          {{ subcomponent }}
        {% endfor %}
      {% endblock %}
    </div>
  </div>
</section>
