<table cellpadding="1" cellspacing="1">
  <thead>
    <tr>
    	<th>Name</th>
    	<th>Company</th>
    	<th>Address</th>
    	<th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    	<td>Price</td>
    	<td>Orci Lobortis Ltd</td>
    	<td>851-9073 Felis St.</td>
    	<td>urna et arcu imperdiet ullamcorper. Duis at lacus. Quisque purus</td>
    </tr>
    <tr>
    	<td>Joyce</td>
    	<td>Eget Tincidunt Dui Corporation</td>
    	<td>3191 Dui, Ave</td>
    	<td>diam at pretium aliquet, metus urna convallis erat, eget tincidunt</td>
    </tr>
    <tr>
    	<td>Holden</td>
    	<td>Etiam Corporation</td>
    	<td>6718 Cursus Rd.</td>
    	<td>odio, auctor vitae, aliquet nec, imperdiet nec, leo. Morbi neque</td>
    </tr>
    <tr>
    	<td>Watts</td>
    	<td>Ipsum Curabitur LLP</td>
    	<td>888 Aliquam, Rd.</td>
    	<td>semper pretium neque. Morbi quis urna. Nunc quis arcu vel</td>
    </tr>
  </tbody>
</table>
